* {
  font-family: "Quicksand", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  gap: 10rem;
}

.card {
  height: 30rem;
  width: 18rem;
  background-color: gray;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0.2)),
    url("images/bg.jpg") center/cover;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
  transition: ease-in-out all 0.3s;
}

.card:hover {
  transform: scale(1.2);
}

.card h1 {
  color: orangered;
  position: relative;
  font-weight: 400;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  width: 80%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.dollar-amount {
  color: white;
  font-size: 4rem;
  font-weight: 400;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dollar-sign {
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: -2rem;
}

.month {
  font-size: 1rem;
  position: absolute;
  right: -42%;
  bottom: 10%;
}

.feature-list {
  margin-top: -1rem;
}

.feature-item {
  list-style: none;
  color: white;
  padding: 0.4rem 1rem;
  position: relative;
}

i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -10%;
}

.fa-check {
  color: rgb(0, 255, 0);
}

.fa-times {
  color: red;
}

button {
  border: none;
  background-color: orangered;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 2rem;
  border-radius: 30px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
